- content_for :nav_title do
  Filters
- content_for :meta_title do
  Filters

#filters.p-2.pt-0.w-100
  .flex.flex-row.p-2
    = link_to new_admin_filter_path do
      .flex.flex-row.border.p-2.rounded-lg
        = render IconComponent.new(name: :plus)
        .ms-2 New Filter

  .grid.grid-cols-4.gap-2
    - @filters.each_with_index do |filter, index|
      = render CardComponent.new do |c|
        = c.with_body do
          .flex.flex-row
            The
            .ms-1 title
            .ms-1.font-bold= filter.human_readable_comparison
          .font-bold.overflow-hidden.text-ellipsis.whitespace-nowrap(title="#{filter.value.upcase}")
            = filter.value.upcase
        = c.with_footer do
          = link_to edit_admin_filter_path(filter.id) do
            = render IconComponent.new(name: :edit)
          = link_to admin_filter_path(filter.id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500" do
            = render IconComponent.new(name: :trash)
