.card(style="width: calc(20% - 15px); margin-right: 10px; margin-bottom: 10px;  padding: 16px;")
  .media
    .media-content
      .title.is-4
        = feed.name
      .subtitle.is-6
        = discover_tag_links_v2 feed
  .card-content
    - if feed.description
      .is-size-8
        = feed.description
    .is-flex.is-justify-content-flex-end.pt-4(id="feed-#{feed.id}")
      - if feed.subscribed?(current_user)
        = fa_solid "check"
      - else
        = form_with url: admin_subscribe_path(feed) do |form|
          %button(type="submit" class="button is-primary") Subscribe