- content_for :title do
  Discover

- show_number_of_feeds = 5

#read_later.mobile-padding
  .subtitle.pt-3
    Discover

  = render partial: "search"

  %div
    - @tags.each do |tag|
      - taggings = tag.taggings
      .is-flex.is-align-items-center.pt-4
        =link_to admin_discover_tagged_path(tag.name) do
          = tag_v2 tag.name
        .pl-2.is-size-8 (#{tag.taggings_count})
      .is-flex.pt-4
        - taggings.limit(show_number_of_feeds).each do |tagging|
          - feed = tagging.taggable
          = render partial: "feed", locals: { feed: feed }
      - if taggings.count > show_number_of_feeds
        .is-flex.align-items-center.is-size-7.pt-2
          =link_to admin_discover_tagged_path(tag.name), class: "text-decoration-none" do
            and #{taggings.count - show_number_of_feeds} more ...

  .pt-4
    = render partial: "cant_find_it", locals: { list: @tags }
  
  .pt-4
    = render partial: "/admin/shared/pagination", locals: { list: @tags }
  
  