- content_for :title do
  Discover - Search for #{@query}

#read_later.mobile-padding
  .subtitle.pt-3
    Discover - Search for #{@query}

  = render partial: "search"
  
  .pt-4
    - @feeds.each do |feed|
      = render partial: "feed", locals: { feed: feed }
  
  = render partial: "/admin/shared/pagination", locals: { list: @feeds }