- content_for :title do
  Discover - Search for #{@query}

#read_later.mobile-padding
  .subtitle.pt-3
    Discover - Search for #{@query}

  = render partial: "search"
  
  .pt-4.is-flex.is-flex-direction-column
    - @feeds.in_groups_of(5).each do |group|
      .is-flex
        - group.compact.each do |feed|
          = render partial: "feed", locals: { feed: feed }
  
  .pt-4
    = render partial: "/admin/shared/pagination", locals: { list: @feeds }