- content_for :title do
  Discover - Tagged with #{@tag}

#discover-tagger.container.pt-3
  %h1 Discover

  = render partial: "search"

  .row.pt-4
    %h5
      Tagged with
      = tag_pill @tag
  
  .row
    - @feeds.each do |feed|
      = render partial: "feed", locals: { feed: feed }
  
  = render partial: "/admin/shared/pagination", locals: { list: @feeds }