.modal(id="modal-entry-#{entry.id}")
  .modal-background
  .modal-content
    .box
      .is-size-6
        = link_to entry.url, target: "_blank" do
          = entry.title
      .is-flex.is-align-items-center
        .is-size-7.pr-1
          = link_to entry.feed.name, feed_entries_path(entry.feed)            
        .is-size-8
          \\
          = distance_of_time_in_words_to_now entry.published_at
          ago
      %p.pt-2=raw clean_summary(entry) 
  %button.modal-close.is-large(aria-label="close")