- content_for :nav_title do
  = "Entry #{@entry.title}"
- content_for :meta_title do
  = "Entry #{@entry.title}"

= turbo_frame_tag "post" do
  #entry.w-100
    = render EntryComponent.new(entry: @entry)
