- content_for :title do
  Search results for "#{@query}"

#search.mobile-padding
  .subtitle.pt-3
    Search results
    .is-size-8 ... capped at first 100 results

  = form_with url: search_index_path, method: :post, local: true do |form|
    .columns
      .column.is-one-third
        .field
          .control
            = form.text_field :query, class: "input", placeholder: "Type your query", value: @query
    .columns
      .column
        = form.submit "Search", class: "button is-primary"
  
  .pt-4
    = render partial: "/sharedv2/entries", locals: { entries: @entries }

  