%div(data-bookmark-entry-id="#{@entry.id}")
  %span.bookmarked(class="#{'hidden' unless bookmarked?}")
    = link_to remove_bookmark_path(@entry), remote: true, method: :delete do
      = render SolidIconComponent.new(name: :star, size: @icon_size)
  %span.not-bookmarked(class="#{'hidden' if bookmarked?}")
    = link_to add_bookmark_path(@entry), remote: true, method: :post do
      = render IconComponent.new(name: :star, size: @icon_size)
