.bookmark(data-controller="bookmarks")
  %span.bookmarked(class="#{'hidden' unless bookmarked?}")
    = link_to remove_bookmark_path(@entry), data: { action: "click->bookmarks#remove" } do
      = render SolidIconComponent.new(name: :star, size: @icon_size)
  %span.not-bookmarked(class="#{'hidden' if bookmarked?}")
    = link_to add_bookmark_path(@entry), data: { action: "click->bookmarks#add" } do
      = render IconComponent.new(name: :star, size: @icon_size)
