.bookmark(data-controller="bookmarks")
  %span.bookmarked(class="#{'hidden' unless bookmarked?}")
    = link_to "#", data: { url: remove_bookmark_path(@entry), id: @entry.id, action: "click->bookmarks#remove" } do
      = render SolidIconComponent.new(name: :star, size: @icon_size)
  %span.not-bookmarked(class="#{'hidden' if bookmarked?}")
    = link_to "#", data: { url: add_bookmark_path(@entry), id: @entry.id, action: "click->bookmarks#add" } do
      = render IconComponent.new(name: :star, size: @icon_size)
