.entry.flex.flex-row.items-center.border-b.pt-2.ps-2.pb-2.items-start(class="#{'bg-emerald-50 text-amber-400' if @mark_viewed}" data-controller="desktopMarkAsRead" data-entry-id="#{@entry.id}")
  .w-6.entry--meta.entry--meta-bookmark
    = render BookmarkComponent.new(entry: @entry)
  .w-80.text-xs.ms-1
    = link_to @entry.feed.name, feed_entries_path(@entry.feed)
  .w-full.overflow-hidden.text-ellipsis.ms-2.me-2.entry--content
    .flex.flex-col
      .entry--content--title.font-semibold
        - if @entry.description.blank? || @entry.show_entry
          = link_to @entry.link, target: "_blank", data: { action: "click->desktopMarkAsRead#markAsRead" } do
            = @entry.title
        - else
          = link_to view_entry_path(@entry.feed, @entry), target: "_blank", data: { action: "click->desktopMarkAsRead#markAsRead" } do
            = @entry.title
      .flex.flex-row
        = render TagsComponent.new(tags: @tags)
      
  .w-24.entry--meta.entry--meta-timestamp.text-sm
    - if @entry.published_at.today?
      = @entry.published_at.strftime("%H:%M")
    - else
      = @entry.published_at.strftime("%d %b")
