.entry.p-2.border-e.border-b.border-emerald-600(class="#{'bg-emerald-100 text-amber-700' if @mark_viewed}" data-controller="desktopMarkAsRead" data-entry-id="#{@entry.id}")
  #top
    .flex.justify-between.items-center.text-xxs.font-thin
      = link_to @entry.feed.name, feed_entries_path(@entry.feed), data: { turbo_frame: "posts" }
      .flex.items-center
        .me-2
          - if @entry.published_at.today?
            = @entry.published_at.strftime("%H:%M")
          - else
            = @entry.published_at.strftime("%d %b")
        = render BookmarkComponent.new(entry: @entry, icon_size: 4)
  #title
    - if @entry.description.blank? || @entry.show_entry
      = link_to @entry.link, data: { action: "click->desktopMarkAsRead#markAsRead" }, target: "_blank" do
        = @entry.title
    - else
      = link_to view_entry_path(@entry.feed, @entry), data: { turbo_frame: "post", action: "click->desktopMarkAsRead#markAsRead" } do
        = @entry.title

  #tags
    .flex
      = render TagsComponent.new(tags: @tags)