.entry.flex(class="#{'bg-zinc-100 text-zinc-400' if @mark_viewed}" data-controller="mobileMarkAsRead" data-entry-id="#{@entry.id}")
  .p-2.flex.flex-col
    .text-xxs.font-thin.flex.items-start
      .me-1
        - if @entry.published_at.today?
          = @entry.published_at.strftime("%H:%M")
        - else
          = @entry.published_at.strftime("%d %b")
      \/
      .ms-1.me-1
        = link_to @entry.feed.name, feed_entries_path(@entry.feed)
    %div
      - if @entry.description.blank? || @entry.show_entry
        = link_to @entry.link, target: "_blank", data: { action: "click->mobileMarkAsRead#markAsRead" } do
          = @entry.title
      - else
        = link_to view_entry_path(@entry.feed, @entry), target: "_blank", data: { action: "click->mobileMarkAsRead#markAsRead" } do
          = @entry.title
    .text-xxs.font-thin.flex.items-start
      = render Mobile::TagsComponent.new(tags: @tags, entry_tags: @entry.tag_list)

  .p-2
    = render BookmarkComponent.new(entry: @entry, icon_size: 4)
