.entry.flex.flex-row.pb-2(class="#{'text-slate-400' if @mark_viewed}" data-controller="mobileMarkAsRead" data-entry-id="#{@entry.id}")
  .w-8.entry--logo.m-2
    .entry--logo--logo.w-8.rounded-full.text-white.p-1.text-xs.pt-2.pb-2.text-center(class="#{@mark_viewed ? 'bg-slate-400' : 'bg-slate-500'}")
      - name = @entry.feed.name
      - name = name.split(/ /).first(2).map { |x| x.first }.compact.join
      = name
  .w-full.entry--content.flex.flex-col
    .entry--content--feed.text-xxs.font-extralight
      = link_to @entry.feed.name, feed_entries_path(@entry.feed)
    .entry--content--title
      - if @entry.description
        = link_to view_entry_path(@entry.feed, @entry), target: "_blank", data: { action: "click->mobileMarkAsRead#markAsRead" } do
          = @entry.title
      - else
        = link_to @entry.link, target: "_blank", data: { action: "click->mobileMarkAsRead#markAsRead" } do
          = @entry.title
    .entry--content--tags
      = render TagsComponent.new(tags: @tags)
  .w-16.entry--meta.flex.flex-col.items-center.m-2
    .entry--meta-timestamp.text-xs.font-bold
      - if @published_twenty_fours_h_ago
        = @entry.published_at.strftime("%H:%M")
      - else
        = @entry.published_at.strftime("%d %b")
    .entry--meta-bookmark
      = render BookmarkComponent.new(entry: @entry)
