= form_with(scope: :rule, url: rule.id ? admin_rule_path(rule) : admin_rules_path, local: true, method: rule.id ? "patch" : "post") do |form|
  - if rule.errors.any?
    #error_explanation
      %h2
        = pluralize(rule.errors.count, "error")
        prohibited this rule from being saved:

      %ul
        = rule.errors.full_messages.each do |message|
          %li= message

  =form.hidden_field :id, value: rule.id
  .row
    .col-2
      = form.label :group_id, "Group ID", class: "form-label"
      = form.number_field :group_id, class: "form-control", value: rule.group_id
  .row
    .col-3
      = form.label :type, class: "form-label"
      = form.select :type, [["Date", "FilterEngine::DateRule"], ["Feed", "FilterEngine::FeedRule"],["Keyword", "FilterEngine::KeywordRule"], ["Tag", "FilterEngine::TagRule"]], { selected: rule.type.to_s, include_blank: false }, { class: "form-select" }
  .row
    .col-2
      = form.label :comparison, class: "form-label"
      = form.select :comparison, [["equals","eq"], ["not equals", "ne"], ["less than", "lt"], ["less than equals", "lte"], ["greater than", "gt"], ["greater than equals", "gte"]], { selected: rule.comparison, include_blank: false }, class: "form-select"
    .col-6
      = form.label :value, class: "form-label"
      = form.text_field :value, class: "form-control", value: rule.value

    .col-12.pt-2
      = form.submit "#{rule.new_record? ? "Create" : "Update"} rule", class: "btn"

