= form_with(scope: :rule, url: rule.id ? admin_rule_path(rule) : admin_rules_path, local: true, method: rule.id ? "patch" : "post") do |form|  
  = form.hidden_field :id, value: rule.id
  
  .columns
    .column
      .field
        .control
          .select
            = form.select :comparison, [["contains the word(s)","eq"], ["does not contain the word(s)", "ne"]], { selected: rule.comparison, include_blank: false }

  .columns
    .column.is-one-third
      .field
        .control
          = form.text_field :value, class: "input #{'is-danger' if rule.errors[:value].any?}", value: rule.value, placeholder: "e.g. facebook"
          - if rule.errors[:value].any?
            .has-text-danger.is-size-7
              = rule.errors[:value].join(', ')

  .columns
    .column.is-one-third
      .field
        = form.submit "#{rule.new_record? ? "Create" : "Update"} rule", class: "button is-primary"

