- content_for :title do
  Rules

#rules.mobile-padding
  .subtitle.pt-3
    Rules

  %p
    = link_to new_admin_rule_path, class: "text-decoration-none" do
      = fa_solid "plus", size: 1
      New Rule

  .pt-4
    Filter out anything where

  %table.table.is-hoverable
    %tbody
      - @rules.each_with_index do |rule, index|
        %tr
          %td
            = link_to edit_admin_rule_path(rule.id) do
              = fa_solid "edit", size: 1
          %td
            = link_to admin_rule_path(rule.id), method: :delete, data: { confirm: "Are you sure?" }, class: "has-text-danger" do
              = fa_solid "trash", size: 1
          %td
            =rule.human_readable
            - if index + 1 < @rules.size
              %strong.fw-lighter &nbsp;OR
