#admin.container.pt-2
  %h1 Feeds

  .pt-3.pb-3
    = link_to new_admin_feed_path, class: "text-decoration-none" do
      %i.bi.bi-plus
      New Feed
    = link_to visit_admin_entries_path, method: :post, class: "text-decoration-none" do
      %i.bi.bi-arrow-counterclockwise
      Reload all

  .row
    - @feeds.each do |feed|
      .col-12.col-xl-3
        .card.m-2
          .card-body
            %h5.card-title
              = link_to feed_entries_path(feed), class: "text-decoration-none" do
                .d-flex.justify-content-between
                  =feed.title
                  %div.text-nowrap
                    - if feed.active?
                      %i.bi.bi-check
                    - else
                      %i.bi.bi-x
                    - if feed.youtube?
                      %i.bi.bi-youtube
            %h6.card-subtitle.mb-2.text-muted= tag_links feed
            .card-text
              .fw-lighter.fs-10.d-flex.flex-column
                %div
                  = feed.entries.count
                  entries
                %div
                  Last visit
                  - if feed.last_visited
                    = feed.last_visited.in_time_zone("Pacific/Auckland").to_formatted_s(:short) 
                  - else
                    Not yet
                %div
                  - if (entry = feed.entries.most_recent_first&.first)
                    Last entry
                    = entry.published_at.in_time_zone("Pacific/Auckland").to_formatted_s(:short) 
            .d-flex.justify-content-end
              - if feed.active?
                = link_to visit_admin_feed_path(feed), method: :post, class: "btn" do
                  %i.bi.bi-arrow-counterclockwise
              = link_to edit_admin_feed_path(feed), class: "btn" do
                %i.bi.bi-pencil
              = link_to [:admin, feed], method: :delete, data: { confirm: "Are you sure?" }, class: "btn" do
                %i.bi.bi-trash
