.modal.fade(id="modal-#{entry.id}" tabindex="-1" aria-labelledby="modal-#{entry.id}-label" aria-hidden="true" data-bs-backdrop="static")
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered
    .modal-content
      .modal-body
        .d-flex.justify-content-between
          .fs-6
            = link_to entry.link, target: "_blank" do
              = entry.title
          %button.btn-close.ms-2(type="button" data-bs-dismiss="modal" aria-label="Close")
        .d-flex.align-items-center
          .fs-10.pe-1
            = link_to entry.feed.name, feed_entries_path(entry.feed)            
          .fs-11
            \\
            - if twenty_fours_h_ago < entry.published_at
              = entry.published_at.strftime("%H:%M")
            - else
              = entry.published_at.strftime("%d %B")
        - if entry.enclosure_mp3?
          .pt-4.pb-4
            = link_to "MP3", entry.enclosure_url, target: "_blank"
        %p.pt-2=raw clean_description(entry) 
