- entries.in_groups_of(mobile? ? 1 : 3) do |group|
  .d-flex.justify-content-start
    - group.compact.each do |entry|
      - mark_viewed = viewed.include?(entry.id)
      .shadow-sm.rounded.entry-wrapper(style="padding: 0px;" class="#{'entries--viewed' if user_signed_in? && mark_viewed}" data-entry-id="#{entry.id}" style="width: calc((100% / #{mobile? ? 1 : 3})); #{'margin-right: 10px;' unless mobile?} margin-bottom: 10px;  padding: 16px;")
        .d-flex.flex-column.justify-content-between.h-100
          .d-flex.flex-row.justify-content-between
            - if entry.image
              = image_tag entry.image, width: 128, class: "me-3 mb-3"
            .title.fs-6
              - if entry.description
                = link_to "#", class: "description entries--title entries--modal", data: { "bs-toggle" => "modal", "bs-target" => "#modal-#{entry.id}" } do
                  = entry.title
              - else
                = link_to entry.link, class: "entries--title entries--no-modal", target: "_blank" do
                  = entry.title
            - if user_signed_in?
              .ps-3
                = render "/shared/bookmark", entry: entry, bookmarked: bookmarks.include?(entry.id)
          %div
            .d-flex.align-items-center
              .fs-10.pe-1
                = link_to entry.feed.name, feed_entries_path(entry.feed)            
              .fs-11
                \\
                = distance_of_time_in_words_to_now entry.published_at
                ago
            = bootstrap_tags entry.feed
            - if entry.description
              = render "/shared/modal", entry: entry
