- entries.in_groups_of(mobile? ? 1 : 3) do |group|
  .row
    - group.compact.each.with_index do |entry, index|
      - mark_viewed = viewed.include?(entry.id)
      .col-sm-6.col-lg-4.entry-wrapper(class="#{'entries--viewed' if user_signed_in? && mark_viewed}" data-entry-id="#{entry.id}")
        .border-bottom.h-100
          .p-2.ps-0.pe-0
            .fs-15.pb-2
              = link_to entry.feed.name, feed_entries_path(entry.feed)
              \\
              = distance_of_time_in_words_to_now entry.published_at
              ago 
            .d-flex.flex-row.justify-content-between
              .d-flex.flex-row
                - if entry.image && !entry.image.ends_with?("torrent")
                  = image_tag entry.image, height: 80, class: "me-2"
                .fs-6(style="word-break: break-word;")
                  - if entry.description
                    = link_to "#", class: "entries--title entries--modal", data: { "bs-toggle" => "modal", "bs-target" => "#modal-#{entry.id}" } do
                      = entry.title
                  - else
                    = link_to entry.link, class: "entries--title entries--no-modal", target: "_blank" do
                      = entry.title
              - if user_signed_in?
                .ps-2
                  = render "/shared/bookmark", entry: entry, bookmarked: @bookmarks.include?(entry.id)
            = bootstrap_tags entry.feed.subscription_for(current_user)
            - if entry.description
              = render "/shared/modal", entry: entry
