.row.border-bottom.pb-2.pt-2.entry-wrapper(class="#{'entries--viewed' if mark_viewed}" data-entry-id="#{entry.id}")
  .col-10
    .fs-11
      = link_to entry.feed.name, feed_entries_path(entry.feed)
    - if entry.description
      = link_to "#", class: "entries--title entries--modal", data: { "bs-toggle" => "modal", "bs-target" => "#modal-#{entry.id}" } do
        = entry.title
      = render "/shared/modal", entry: entry, twenty_fours_h_ago: twenty_fours_h_ago
    - else
      = link_to entry.link, class: "entries--title entries--no-modal", target: "_blank" do
        = entry.title
    .fs-11
      = bootstrap_tags entry.feed.subscription_for(current_user)
  .col-2.text-center
    .fs-11.font-bold
      - if twenty_fours_h_ago < entry.published_at
        = entry.published_at.strftime("%H:%M")
      - else
        = entry.published_at.strftime("%d %B")    
    = render "/shared/bookmark", entry: entry, bookmarked: bookmarks.include?(entry.id)
