.border-end.d-flex.flex-column.justify-content-between(style="height: calc(100vh - 45px);")
  .pt-3
    - if user_signed_in?
      .d-flex.justify-content-center
        %h5.rounded-circle.bg-primary.text-light.avatar(title="#{current_user.email}")
          = current_user.name.first
    .d-flex.flex-column.align-items-center.mt-4.pt-2(class="#{'current-page' if current_page?(subscriptions_today_path) || current_page?(root_path)}")
      %h5
        =link_to subscriptions_today_path, class: "text-decoration-none", title: "Subscriptions" do
          %i.bi.bi-calendar2-check
  %div
    - if user_signed_in?
      .d-flex.flex-column.align-items-center.pt-2(class="#{'current-page' if current_page?(admin_subscriptions_path)}")
        %h5
          =link_to admin_subscriptions_path, class: "text-decoration-none", title: "Subscriptions" do
            %i.bi.bi-rss
      .d-flex.flex-column.align-items-center.pt-2(class="#{'current-page' if current_page?(admin_discover_path) || current_page?(admin_discover_search_path)}")
        %h5
          =link_to admin_discover_path, class: "text-decoration-none", title: "Discover" do
            %i.bi.bi-binoculars
      .d-flex.flex-column.align-items-center.pt-2(class="#{'current-page' if current_page?(admin_rules_path)}")
        %h5
          =link_to admin_rules_path, class: "text-decoration-none", title: "Rules" do
            %i.bi.bi-card-checklist
      .d-flex.flex-column.align-items-center.pt-2(class="#{'current-page' if current_page?(new_admin_subscription_path)}")
        %h5
          =link_to new_admin_subscription_path, class: "text-decoration-none", title: "Add your own RSS subscription" do
            %i.bi.bi-plus
    - if user_signed_in?
      .d-flex.flex-column.align-items-center.pt-2.pb-2.mt-2.mb-2
        %h5
          = link_to destroy_user_session_path, method: :delete, title: "Log out" do
            %i.bi.bi-lock
    - else
      .d-flex.flex-column.align-items-center.pt-2.pb-2.mt-2.mb-2(class="#{'current-page' if current_page?(new_user_session_path )}")
        %h5
          = link_to new_user_session_path, title: "Log in" do
            %i.bi.bi-unlock
      