#menuOffCancas.offcanvas.offcanvas-start(tabindex="-1" aria-labelledby="menuOffCancasLabel")
  .offcanvas-header
    -if user_signed_in?
      .d-flex
        %div
          %h5.rounded-circle.bg-primary.text-light.me-3.avatar= current_user.name.first
        %h5.offcanvas-title.d-flex.flex-column#menuOffCancasLabel
          %div= current_user.name
          .fs-11.fw-lighter=current_user.email
      %div
        %button.btn(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
          %i.bi.bi-x-lg
    -else
      %h5.offcanvas-title#menuOffCancasLabel Today
      %button.btn(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
        %i.bi.bi-x-lg
  .offcanvas-body
    .d-flex.flex-column.justify-content-between.h-100
      %div
        .row
          .d-flex.mt-4.pt-2
            %h5.d-flex.justify-content-between.w-100.align-items-center
              =link_to subscriptions_today_path, class: "text-decoration-none", title: "Today" do
                %i.bi.bi-calendar2-check
                Today
              %div.badge.badge-pill.fw-lighter.fs-10.rounded-pill
                =@today_count
        - if user_signed_in?
          .row
            .d-flex.pt-2
              %h5.d-flex.justify-content-between.w-100.align-items-center
                =link_to read_later_all_path, class: "text-decoration-none", title: "Read later" do
                  %i.bi.bi-star     
                  Read Later  
                %div.badge.badge-pill.fw-lighter.fs-10.rounded-pill.read-later-count-tag(class="#{'d-none' if @read_later_count.zero?}")
                  =@read_later_count
      %div
        - if user_signed_in?
          .row
            .d-flex.pt-2
              %h5.d-flex.justify-content-between.w-100.align-items-center
                =link_to admin_subscriptions_path, class: "text-decoration-none", title: "Subscriptions" do
                  %i.bi.bi-rss
                  Subscriptions
                %div.badge.badge-pill.fw-lighter.fs-10.rounded-pill
                  =@subscription_count
          .row
            .d-flex.pt-2
              %h5
                =link_to admin_discover_path, class: "text-decoration-none", title: "Discover" do
                  %i.bi.bi-binoculars
                  Discover
          .row
            .d-flex.pt-2
              %h5.d-flex.justify-content-between.w-100.align-items-center
                =link_to admin_rules_path, class: "text-decoration-none", title: "Rules" do
                  %i.bi.bi-card-checklist
                  Rules
                %div.badge.badge-pill.fw-lighter.fs-10.rounded-pill
                  =@rules_count
          .row
            .d-flex.pt-2
              %h5
                =link_to new_admin_subscription_path, class: "text-decoration-none", title: "Add your own RSS subscription" do
                  %i.bi.bi-plus
                  Add RSS Feed
          .row
            .d-flex.pt-2.pb-2.mt-2.mb-2
              %h5
                = link_to destroy_user_session_path, method: :delete, title: "Log out", class: "text-decoration-none" do
                  %i.bi.bi-lock
                  Log out
        - else
          .row
            .d-flex.pt-2.pb-2.mt-2.mb-2
              %h5
                = link_to new_user_session_path, title: "Log in", class: "text-decoration-none"  do
                  %i.bi.bi-unlock
                  Log in
                  