.d-flex.flex-row.align-items-start(style="position: relative; top: -1.5rem; left: -1.6rem;")
  %nav.navbar.border-end.border-secondary.flex-column.justify-content-between.position-fixed(style="width: 75px; height: calc(100vh);")
    %ul.navbar-nav
      - watches_and_totals.each do |group_id, watch_count|
        %li.nav-item
          = link_to watches_group_path(group_id: group_id), class: "nav-link #{'active' if active_page?(watches_group_path(group_id: group_id))}", title: "Watch ##{group_id}" do
            = fa_regular "eye"
            %span.badge.rounded-pill.position-absolute(style="left: 10px;")
              .fs-15
                = watch_count