.entries--table.row(data-masonry='{"percentPosition": true }')
  - @tags.each do |tag|
    - entries = @entries_by_tag[tag]
    - next if entries.count.zero?
    .col-sm-6.col-lg-4.mb-4
      %h4
        = link_to tag, tagged_feeds_path(tag)
      %ul.list-group
        - has_more = entries.total_pages > 1
        - entries.each.with_index do |entry, index|
          - mark_viewed = @viewed.include?(entry.id)
          %li.list-group-item.border-0.p-2.entry-wrapper(class="#{'border-bottom' if index + 1 < entries.size} #{'entries--viewed' if user_signed_in? && mark_viewed}" data-entry-id="#{entry.id}")
            .fs-15.pb-2
              = link_to entry.feed.name, feed_entries_path(entry.feed)
              \\
              = distance_of_time_in_words_to_now entry.published_at
              ago 
            .d-flex.flex-row.justify-content-between
              .d-flex.flex-row
                - if entry.image && !entry.image.ends_with?("torrent")
                  = image_tag entry.image, height: 80, class: "me-2"
                .fs-6(style="word-break: break-word;")
                  - if entry.description
                    = link_to "#", class: "entries--title entries--modal", data: { "bs-toggle" => "modal", "bs-target" => "#modal-#{entry.id}" } do
                      = entry.title
                  - else
                    = link_to entry.link, class: "entries--title entries--no-modal", target: "_blank" do
                      = entry.title
              - if user_signed_in?
                .ps-2
                  = render "/shared/bookmark", entry: entry, bookmarked: @bookmarks.include?(entry.id)
            = bootstrap_tags entry.feed
            - if entry.description
              = render "/shared/modal", entry: entry
        - if has_more
          .d-flex.flex-row.justify-content-end
            .fs-8
              = link_to tagged_feeds_path(tag) do
                \... and
                = entries.total_count - 5
                more
                