- content_for :title do
  Log in

#read_later.mobile-padding
  .subtitle.pt-3 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
    .columns
      .column.is-one-third
        .field
          = form.label :email, class: "label"
        .control
          = form.email_field :email, autofocus: true, autocomplete: "email", class: "input"

    .columns
      .column.is-one-third
        .field
          = form.label :password, class: "label"
        .control
          = form.password_field :password, autocomplete: "current-password", class: "input"

    - if devise_mapping.rememberable?
      .columns
        .column
          .field
            = form.label :remember_me, class: "checkbox" do              
              = form.check_box :remember_me
              Remember me

    .columns
      .column
        = form.submit "Log in", class: "button is-primary"