- content_for :nav_title do
  Watches
- content_for :meta_title do
  Watches

- if mobile?
  %p For desktop only I'm afraid :(
-else
  #watches.p-2.pt-0.w-100
    .flex.flex-row.justify-end.pb-2.pt-2
      = link_to new_admin_watch_path do
        .flex.flex-row.border.p-2.rounded-lg
          = render IconComponent.new(name: :plus)
          .ms-2 New Watch

    .grid.grid-cols-4.gap-2
      - @grouped_watches.each do |group_id, watches|
        .shadow-sm.border.rounded.p-2.m-2
          .flex.flex-col.justify-between.h-full
            .pb-2
              .flex.flex-row
                - watches.sort_by(&:watch_type).each.with_index do |watch, index|
                  = watch.human_readable
                  - if index + 1 < watches.size
                    .font-thin.ps-1.pe-1 and
            .border-t.pt-2
              .flex.flex-row.justify-end
                = link_to admin_add_to_watch_group_path(group_id: group_id) do
                  .border.rounded.p-2.pt-1.pb-1
                    Add
                = link_to admin_edit_watch_group_path(group_id: group_id), class: "ms-2" do
                  .border.rounded.p-2.pt-1.pb-1
                    Edit
                = link_to admin_remove_watch_group_path(group_id: group_id), method: :delete, data: { confirm: "Are you sure?" }, class: "ms-2" do
                  .rounded.p-2.pt-1.pb-1.bg-red-500.text-white
                    Remove
