- content_for :nav_title do
  Watches
- content_for :meta_title do
  Watches

#watches.p-2.pt-0.w-100
  %nav.p-2.flex.justify-between
    .text-2xl Watches
    = link_to new_admin_watch_path do
      .flex
        = render IconComponent.new(name: :plus)
        .ms-2 New Watch

  %table(class="w-full text-sm text-left rtl:text-right text-gray-500")
    %tbody
      - @grouped_watches.each do |group_id, watches|
        %tr(class="odd:bg-white even:bg-gray-50 border-b")
          %td.p-2
            = link_to admin_watches_group_path(group_id: group_id) do
              .flex.flex-row
                - watches.sort_by(&:watch_type).each.with_index do |watch, index|
                  .font-bold
                  = watch.human_readable
                  - if index + 1 < watches.size
                    .font-thin.ps-1.pe-1 and
          %td.p-2
            .flex.justify-end
              = link_to admin_copy_watch_group_path(group_id: group_id) do
                = render IconComponent.new(name: :copy)
              = link_to admin_add_to_watch_group_path(group_id: group_id) do
                = render IconComponent.new(name: :plus)
              = link_to admin_edit_watch_group_path(group_id: group_id), class: "ms-2" do
                = render IconComponent.new(name: :edit)
              = button_to admin_remove_watch_group_path(group_id: group_id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500" do
                = render IconComponent.new(name: :trash)
