- content_for :meta_title do
  Watches

#watches
  .p-4.w-100
    %h4
      Watches

    %p
      = link_to new_admin_watch_path do
        = fa_solid "plus", size: 1
        New Watch

    .pt-4
      Create watches to filter out the things you want to read first.

    %div
      %table.table.is-hoverable
        %tbody
          - @grouped_watches.each do |group_id, watches|
            %tr
              %td(style="width: 25px;")
                = link_to admin_add_to_watch_group_path(group_id: group_id) do
                  = fa_solid "plus", size: 1
              %td(style="width: 25px;")
                = link_to admin_edit_watch_group_path(group_id: group_id) do
                  = fa_solid "edit", size: 1
              %td(style="width: 25px;")
                = link_to admin_remove_watch_group_path(group_id: group_id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" do
                  = fa_solid "trash", size: 1
              %td
                - watches.sort_by(&:watch_type).each.with_index do |watch, index|
                  = watch.human_readable
                  - if index + 1 < watches.size
                    %strong.fw-lighter &nbsp;and
