- content_for :nav_title do
  Watches
- content_for :meta_title do
  Watches

- if mobile?
  %p For desktop only I'm afraid :(
-else
  #watches.p-2.pt-0.w-100
    .flex.flex-row.justify-end.pb-2.pt-2
      = link_to new_admin_watch_path do
        .flex.flex-row.border.p-2.rounded-lg
          %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
            %path(stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15")
          .ms-2 New Watch

    - @grouped_watches.each do |group_id, watches|
      .flex.flex-row.pb-2.pt-2.border-b
        .w-24.flex.flex-row
          = link_to admin_add_to_watch_group_path(group_id: group_id) do
            %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
              %path(stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15")
          = link_to admin_edit_watch_group_path(group_id: group_id) do
            %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
              %path(stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10")
          = link_to admin_remove_watch_group_path(group_id: group_id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" do
            %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500")
              %path(stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0")
        .w-full.flex.flex-row
          - watches.sort_by(&:watch_type).each.with_index do |watch, index|
            = watch.human_readable
            - if index + 1 < watches.size
              .font-thin.ps-1.pe-1 and

