= form_with(url: [:new, :admin, :subscription], method: :get, local: true) do |form|
  .row
    .col-6
      = form.text_field :query, class: "form-control", placeholder: "Type your query", value: @query
    .col-6
      = form.submit "Search", class: "btn"
  - if @query
    .row.fw-lighter.fs-10
      .col-6
        Found
        #{pluralize @feeds.total_count, "result"}
        &dash;
        =link_to "Clear", new_admin_subscription_path, class: "text-decoration-none"

  .pt-4
    %table.table.table-hover
      %thead
        %tr
          %th
          %th Name
          %th Description
          %th
      %tbody
        - @feeds.each do |feed|
          %tr
            %td
            %td=feed.name
            %td=feed.description
            %td=feed.tag_list
  
  .pt-2.d-flex.justify-content-center
    = paginate @feeds