.row.pt-4.mt-1
  .col-12.col-xl-6.mb-3
    .display-6
      = feed.name

.row
  .col-12.col-xl-6.mb-3
    .d-flex.flex-row.align-items-center
      .me-2
        = fa_solid "link", size: 1
      = link_to feed.url, feed.url

.row
  .col-12.col-xl-6.mb-3
    .d-flex.flex-row.align-items-center
      .me-2
        = fa_solid "rss", size: 1
      = link_to feed.rss_url, feed.rss_url

.row
  .col-12.col-xl-6.mb-3
    = form.label :tag_list, class: "form-label"
    = form.text_field :tag_list, value: subscription.tag_list.join(", "), class: "form-control #{'text-danger' if subscription.errors[:tag_list].present?}"
    - if subscription.errors[:tag_list].present?
      %small.text-danger=subscription.errors[:tag_list].to_sentence
      %br
    .fs-11
      A comma-separated list.

.row
  .col-12.col-xl-6.mb-3
    = form.check_box :hide_from_main_page, class: "form-check-input"
    = form.label :hide_from_main_page, class: "form-check-label" do              
      Hide from main page

.row
  .col-12.col-xl-6.mb-3
    = form.label :description, class: "form-label"
    = form.text_area :description, class: "form-control #{'text-danger' if feed.errors[:description].present?}"
    - if feed.errors[:description].present?
      %small.text-danger=feed.errors[:description].to_sentence
      %br
    .fs-11 What's this RSS feed all about?
  
.row
  .col-12.col-xl-4
    = form.submit "#{subscription.persisted? ? 'Update' : 'Add'} Feed", class: "btn btn-primary"