.row.pt-4.mt-1
  .col-12.col-xl-6.mb-3
    .display-6
      = link_to @feed.url, @feed.url

.pt-1
  = form_with(model: @subscription, url: [:admin, @subscription], method: :post, local: true) do |form|
    = form.hidden_field :step, value: @step
    = form.hidden_field :url, value: @feed.url
    = form.hidden_field :rss_url, value: @feed.rss_url

    .row
      .col-12.col-xl-6.mb-3
        = form.label :name, class: "form-label"
        = form.text_field :name, value: @service.name, class: "form-control #{'text-danger' if @feed.errors[:name].present?}"
        - if @feed.errors[:name].present?
          %small.text-danger=@feed.errors[:name].to_sentence

    .row
      .col-12.col-xl-6.mb-3
        = form.label :tag_list, class: "form-label"
        = form.text_field :tag_list, value: @subscription.tag_list.join(", "), class: "form-control #{'text-danger' if @subscription.errors[:tag_list].present?}"
        - if @subscription.errors[:tag_list].present?
          %small.text-danger=@subscription.errors[:tag_list].to_sentence
          %br
        .fs-11
          Comma-separated list.

    .row
      .col-12.col-xl-6.mb-3
        = form.check_box :hide_from_main_page, class: "form-check-input"
        = form.label :hide_from_main_page, class: "form-check-label" do              
          Hide from main page

    .row
      .col-12.col-xl-6.mb-3
        = form.label :description, class: "form-label"
        = form.text_area :description, class: "form-control #{'text-danger' if @feed.errors[:description].present?}"
        - if @feed.errors[:description].present?
          %small.text-danger=@feed.errors[:description].to_sentence
      
    .row
      .col-12.col-xl-4
        = form.submit "Next", class: "btn btn-primary"