- content_for :title do
  Subscriptions

#bookmarks
  %h6.pb-2
    Subscriptions
    
  %p
    = link_to refresh_all_admin_subscriptions_path, title: "Fetch latest" do
      = fa_solid "sync-alt", size: 1
      Refresh feeds

  %table.table.table-hover
    %thead
      %tr
        %th
          = form_with url: search_admin_subscriptions_path, method: :get, local: true do |form|
            .row
              .col-12.col-xl-6
                = form.text_field :query, autofocus: true, class: "form-control", placeholder: "Search subscriptions...", value: @query
        %th(style="width: 50px;")
          = fa_solid "plus", size: 1
        %th(style="width: 75px;")
          = fa_solid "sync-alt", size: 1
        %th(style="width: 75px;")
    %tbody
      - @subscriptions.each do |subscription|
        %tr(id="subscription-#{subscription.id}" )
          %td
            .d-flex.flex-column
              .d-flex.flex-row
                .me-2.text-secondary
                  - if subscription.hide_from_main_page
                    = fa_solid "eye-slash", size: 1
                  - else
                    = fa_solid "eye", size: 1
                = link_to subscription.feed.name, feed_entries_path(subscription.feed)
              .fs-11
                = bootstrap_tags subscription.feed
              .fs-11.pt-2
                - if subscription.feed.description
                  = subscription.feed.description
              - if subscription.feed.error
                .fs-11.text-danger.pt-2
                  = subscription.feed.error
          %td.fs-11(valign="middle")
            =subscription.created_at.strftime("%d %b")
          %td.fs-11(valign="middle")
            =subscription.feed.refresh_at&.strftime("%d %b %H:%M")
          %td
            .d-flex    
              = link_to refresh_admin_subscription_path(subscription), class: "btn btn-white text-primary" do
                = fa_solid "sync-alt", size: 1
              = link_to edit_admin_subscription_path(subscription), class: "btn btn-white text-primary" do
                = fa_solid "edit", size: 1
              = form_with url: admin_unsubscribe_path(subscription) do |form|
                %button(type="submit" class="btn text-danger")
                  = fa_solid "trash", size: 1
              = link_to toggle_active_admin_subscription_path(subscription), class: "btn btn-white #{subscription.active? ? 'text-success' : 'text-warning'}" do
                = fa_solid "dot-circle", size: 1

%div(class="#{'pt-4 mt-4' if mobile?}")
  = render "/admin/shared/pagination", list: @subscriptions
