- content_for :nav_title do
  Subscriptions
- content_for :meta_title do
  Subscriptions

- if mobile?
  #subscriptions.p-2.pt-0.w-100
    .flex.flex-col
      - @subscriptions.each do |subscription|
        .flex.flex-row.items-center.pb-2
          .w-12
            = render LogoComponent.new(feed: subscription.feed)
          .w-full
            .flex.flex-col
              = link_to subscription.feed.name, feed_entries_path(subscription.feed)
              = render TagsComponent.new(tags: subscription.tag_list)
          

- else
  #subscriptions.p-2.pt-0.w-100
    %nav.p-2.flex.justify-between
      .text-2xl Subscriptions
      .flex
        .me-2
          = link_to new_admin_subscription_path do
            .flex.flex-row
              = render IconComponent.new(name: :plus)
              .ms-2 New
        = link_to refresh_all_admin_subscriptions_path do
          .flex.flex-row
            %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
              %path(stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99")
            .ms-2 Refresh All

    %table(class="w-full text-sm text-left rtl:text-right text-gray-500")
      %tbody
        - @subscriptions.each do |subscription|
          %tr(class="odd:bg-white even:bg-gray-50 border-b")
            %td.p-2
              .flex.items-center
                = render LogoComponent.new(feed: subscription.feed)
                .ms-2
                  = link_to subscription.feed.name, feed_entries_path(subscription.feed)
            %td.p-2
              = render TagsComponent.new(tags: { subscription: subscription.tag_list, entry: [] })
            %td.p-2
              .flex.text-xxs.items-center
                = render IconComponent.new(name: :plus, size: 2)
                .ms-1
                  = subscription.created_at.strftime("%d %B %Y")
            %td.p-2
              .flex.text-xxs.items-center
                = render IconComponent.new(name: :refresh, size: 4)
                .ms-1
                  = subscription.feed.refresh_at&.strftime("%d %b %H:%M")
            %td.p-2
              .flex.justify-end
                = link_to refresh_admin_subscription_path(subscription) do
                  = render IconComponent.new(name: :refresh)
                = link_to toggle_active_admin_subscription_path(subscription) do
                  - if subscription.active?
                    = render IconComponent.new(name: :eye)
                  - else
                    = render IconComponent.new(name: :eye_slash)
                = link_to edit_admin_subscription_path(subscription) do
                  = render IconComponent.new(name: :edit)
                = link_to admin_unsubscribe_path(subscription), method: :post, data: { confirm: "Are you sure?" }, class: "text-red-500" do
                  = render IconComponent.new(name: :trash)

.flex.flex-col
  .flex.flex-row.justify-center
    - if @subscriptions.prev_page
      = link_to path_to_prev_page(@subscriptions), class: "p-4" do
        .flex.flex-row.items-center
          = render IconComponent.new(name: :chevron_left)
          .ms-1 Previous Page
    - if @subscriptions.next_page
      = link_to path_to_next_page(@subscriptions), class: "p-4" do
        .flex.flex-row.items-center
          .me-1 Next Page
          = render IconComponent.new(name: :chevron_right)