- content_for :title do
  Subscriptions

#read_later.mobile-padding
  .subtitle.pt-3
    Subscriptions
    
  %p
    = link_to sync_admin_subscriptions_path, class: "ps-4 text-decoration-none", title: "Fetch latest" do
      = fa_solid "sync-alt", size: 1
      Sync feeds

  %table.table.is-narrow.is-hoverable(style="width: calc(100% - 20px)")
    %thead
      %tr
        %th
        %th(style="width: 100px;")
          = fa_solid "star", size: 1
        %th(style="width: 150px;")
          = fa_solid "sync-alt", size: 1
        %th
    %tbody
      - @subscriptions.each do |subscription|
        %tr(id="subscription-#{subscription.id}" )
          %td
            .is-flex.is-flex-direction-column
              = link_to subscription.feed.name, feed_entries_path(subscription.feed)
              .is-size-8
                = tag_links_v2 subscription.feed
              .is-size-8.pt-2
                - if subscription.feed.description
                  = subscription.feed.description
          %td.fs-11=subscription.created_at.strftime("%d %b")
          %td.fs-11=subscription.feed.last_visited&.strftime("%d %b %H:%M")
          %td            
            = form_with url: admin_unsubscribe_path(subscription) do |form|
              %button(type="submit" class="button is-white")
                = fa_solid "star", size: 1

= render partial: "/admin/shared/pagination", locals: { list: @subscriptions }
