- content_for :nav_title do
  Subscriptions
- content_for :meta_title do
  Subscriptions

- if mobile?
  #subscriptions.p-2.pt-0.w-100
    .flex.flex-col
      - @subscriptions.each do |subscription|
        .flex.flex-row.items-center.pb-2
          .w-12
            = render LogoComponent.new(feed: subscription.feed)
          .w-full
            .flex.flex-col
              = link_to subscription.feed.name, feed_entries_path(subscription.feed)
              = render TagsComponent.new(tags: subscription.tag_list)
          

- else
  #subscriptions.p-2.pt-0.w-100
    .flex.flex-row.justify-end.pb-2.pt-2
      = link_to refresh_all_admin_subscriptions_path do
        .flex.flex-row.border.p-2.rounded-lg
          %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
            %path(stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99")
          .ms-2 Refresh All

    .flex.flex-col.ps-4
      - @subscriptions.each do |subscription|
        .flex.flex-row.items-center.pb-2
          .w-16
            = render LogoComponent.new(feed: subscription.feed)
          .w-full
            .flex.flex-col
              = link_to subscription.feed.name, feed_entries_path(subscription.feed)
              = render TagsComponent.new(tags: subscription.tag_list)
          .w-96.flex.flex-row.items-start
            = link_to refresh_admin_subscription_path(subscription) do
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99")
            = link_to toggle_active_admin_subscription_path(subscription) do
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                - if subscription.active?
                  %path(stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0")
                - else
                  %path(stroke-linecap="round" stroke-linejoin="round" d="M9.143 17.082a24.248 24.248 0 003.844.148m-3.844-.148a23.856 23.856 0 01-5.455-1.31 8.964 8.964 0 002.3-5.542m3.155 6.852a3 3 0 005.667 1.97m1.965-2.277L21 21m-4.225-4.225a23.81 23.81 0 003.536-1.003A8.967 8.967 0 0118 9.75V9A6 6 0 006.53 6.53m10.245 10.245L6.53 6.53M3 3l3.53 3.53")
            = link_to edit_admin_subscription_path(subscription) do
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10")
            = form_with url: admin_unsubscribe_path(subscription) do |form|
              %button(type="submit")
                %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500")
                  %path(stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0")


          .w-36.flex.flex-col.text-xxs
            .flex.flex-row.items-center
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-2 h-2")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15")
              .ms-1
                = subscription.created_at.strftime("%d %B %Y")
            .flex.flex-row.items-center
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-2 h-2")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99")
              .ms-1
                = subscription.feed.refresh_at&.strftime("%d %b %H:%M")
    .flex.flex-row.justify-end.pe-4
      - if @subscriptions.prev_page
        .border.p-2.rounded.me-2
          = link_to_previous_page @subscriptions, "Previous Page"
      - if @subscriptions.next_page
        .border.p-2.rounded
          = link_to_next_page @subscriptions, "Next Page"