- content_for :title do
  Add your own RSS subscription

#new-subscription.container.pt-3
  %h1 Add your own RSS subscription

  = form_with(model: @subscription, url: [:admin, @subscription], method: :post, local: true) do |form|
    .row
      .col-12
        = form.label :url, class: "form-label"
        = form.text_field :url, class: "form-control", required: true
        - if @subscription.feed.errors[:url]
          %small.text-danger=@subscription.feed.errors[:url].to_sentence
          %br
        %small.fw-lighter We support regular RSS and atom feeds, as well as Youtube channels.
    .row
      .col-6
        = form.label :name, class: "form-label"
        = form.text_field :name, class: "form-control"
        - if @subscription.feed.errors[:name]
          %small.text-danger=@subscription.feed.errors[:name].to_sentence
          %br
        %small.fw-lighter Stumped for words? We'll use the RSS feed's name if you leave this empty.
      .col-6
        = form.label :tag_list, class: "form-label"
        = form.text_field :tag_list, class: "form-control"
        - if @subscription.feed.errors[:tag_list]
          %small.text-danger=@subscription.feed.errors[:tag_list].to_sentence
          %br
        %small.fw-lighter
          A comma-separated list of tags. Like 
          %strong "news, world, uplifting"
          or 
          %strong "geekery, tech"
    .row
      .col-6
        = form.label :description, class: "form-label"
        = form.text_area :description, class: "form-control"
        - if @subscription.feed.errors[:description]
          %small.text-danger=@subscription.feed.errors[:description].to_sentence
          %br
        %small.fw-lighter What's a this RSS feed all about?
    .row
      .col-12.pt-2
        = form.submit "Subscribe", class: "btn"


