- content_for :nav_title do
  Add Feed
- content_for :meta_title do
  Add Feed  

#add-subscription.p-2.pt-0.w-100
  .p-2
    %nav.flex.items-center
      .text-2xl
        = link_to "Subscriptions", admin_subscriptions_path, class: "text-gray-600"
      .text-2xl
        = render IconComponent.new(name: :chevron_right)
      .text-2xl Add Feed

  = render AddSubscriptionStepsComponent.new(step: @step)
  = render "/admin/subscriptions/step_#{@step}"
