%aside.menu
  %ul.menu-list
    .is-flex.is-flex-direction-column.is-justify-content-space-between(style="height: calc(100vh)")
      %div
        %li
          = link_to subscriptions_today_path, class: "#{'is-active' if current_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
            = fa_solid "calendar-check"
            %span.tag.is-complementary
              = @today_count
        - if user_signed_in?
          %li
            = link_to read_later_all_path, class: "#{'is-active' if current_page?(read_later_all_path)}", title: "Read later" do
              = fa_solid "star"
              %span.tag.is-complementary.read-later-count-tag(class="#{'d-none' if @read_later_count.zero?}")
                = @read_later_count
          %li
            = link_to new_search_path, class: "#{'is-active' if current_page?(new_search_path)}", title: "Search" do
              = fa_solid "search"
      %div
        - if user_signed_in?
          %li
            = link_to admin_subscriptions_path, class: "#{'is-active' if current_page?(admin_subscriptions_path)}", title: "Subscriptions" do
              = fa_solid "rss"
              - if @subscription_count > 0
                %span.tag.is-complementary
                  = @subscription_count
          %li
            = link_to admin_discover_path, class: "#{'is-active' if current_page?(admin_discover_path)}", title: "Discover" do
              = fa_solid "eye"
          %li
            = link_to admin_rules_path, class: "#{'is-active' if current_page?(admin_rules_path)}", title: "Rules" do
              = fa_solid "list"
              %span.tag.is-complementary
                = @rules_count
          %li
            = link_to new_admin_subscription_path, class: "#{'is-active' if current_page?(new_admin_subscription_path)}", title: "Add RSS Feed" do
              = fa_solid "plus"
        
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, title: "Log out" do
              = fa_solid "lock"
        - else
          %li
            = link_to new_user_session_path, title: "Log in", class: "#{'is-active' if current_page?(new_user_session_path)}" do
              = fa_solid "lock-open"
          

