- active = "bg-blue-800"

.flex.flex-row(style="height: calc(100vh);")
  #menu.bg-blue-900.text-gray-300(class="w-1/5")
    .flex.flex-col(class="#{'justify-between' if user_signed_in?}" style="height: 100%")
      %div(class="#{'pb-4' unless user_signed_in?}")
        %h1.p-4
          = link_to root_path do
            .text-2xl.font-bold RSSr
      %div
        %ul
          %li.ps-4.pe-4(class="#{active if active_page?(subscriptions_today_path) || current_page?(root_path)}") 
            = link_to subscriptions_today_path do
              .flex.pt-1.pb-1
                = render IconComponent.new(name: :calendar)
                .ms-2.ps-2.pe-2 Today
          - if user_signed_in?
            %li.ps-4.pe-4(class="#{active if active_page?(all_bookmarks_path)}")
              = link_to all_bookmarks_path do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :star)
                  .ms-2.ps-2.pe-2 Bookmarks
      - if user_signed_in?
        %div
          %p.uppercase.font-thin.p-4.pb-2 Most Read
          %ul
            - Feed.most_read.each do |feed|
              %li.ps-4.pe-4(class="#{active if active_page?(feed_entries_path(feed))}")
                = link_to feed_entries_path(feed) do
                  .flex.pt-1.pb-1.items-center
                    = render IconComponent.new(name: :rss)
                    .ms-2.ps-2.pe-2
                      = feed.name
            %li.ps-4.pe-4(class="#{active if active_page?(new_admin_subscription_path)}")
              = link_to new_admin_subscription_path do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :plus)
                  .ms-2.ps-2.pe-2.font-bold
                    Add Feed
      %div
        - if user_signed_in?
          %p.uppercase.font-thin.p-4.pb-2 Admin
          %ul
            %li.ps-4.pe-4(class="#{active if active_page?(admin_filters_path)}")
              = link_to admin_filters_path do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :funnel)
                  .ms-2.ps-2.pe-2
                    Filters
            %li.ps-4.pe-4(class="#{active if active_page?(admin_watches_path)}")
              = link_to admin_watches_path do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :eye)
                  .ms-2.ps-2.pe-2
                    Watches
            %li.ps-4.pe-4(class="#{active if active_page?(new_search_path)}")
              = link_to new_search_path do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :search)
                  .ms-2.ps-2.pe-2
                    Search
            %li.ps-4.pe-4
              = link_to "/sidekiq", target: "_blank" do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :cpu)
                  .ms-2.ps-2.pe-2
                    Sidekiq
            %li.ps-4.pe-4
              = link_to destroy_user_session_path, method: :delete do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :lock_closed)
                  .ms-2.ps-2.pe-2
                    Sign Out
        - else
          %ul
            %li.ps-4.pe-4(class="#{active if active_page?(new_user_session_path)}")
              = link_to new_user_session_path, title: "Log in" do
                .flex.pt-1.pb-1
                  = render IconComponent.new(name: :lock_closed)                    
                  .ms-2.ps-2.pe-2
                    Sign In
              
              


  #content.bg-gray-100.p-1(class="w-4/5 dark:bg-zinc-950 dark:text-zinc-300" style="overflow-y: auto;")
    = yield
