- admin_active = "text-amber-600"
- menu_active = "text-amber-500"

.flex.flex-row(style="height: calc(100vh);")
  #admin-menu.w-16.bg-sky-900.text-sky-600
    %h1.p-4.pb-8
      = link_to root_path do
        .text-2xl.font-bold BL
    - if user_signed_in?
      .flex.flex-row.justify-center.pb-2
        = link_to admin_subscriptions_path, title: "Subscriptions", class: "#{admin_active if active_page?(admin_subscriptions_path)}" do
          = render IconComponent.new(name: :rss)
      .flex.flex-row.justify-center.pb-2
        = link_to admin_filters_path, title: "Filters", class: "#{admin_active if active_page?(admin_filters_path)}" do
          = render IconComponent.new(name: :funnel)
      .flex.flex-row.justify-center.pb-2
        = link_to admin_watches_path, title: "Watches", class: "#{admin_active if active_page?(admin_watches_path)}" do
          = render IconComponent.new(name: :eye)
      .flex.flex-row.justify-center.pb-2
        = link_to new_search_path, title: "Search", class: "#{admin_active if active_page?(new_search_path)}" do
          = render IconComponent.new(name: :search)
      .flex.flex-row.justify-center.pb-2
        = link_to "/sidekiq", title: "Sidekiq", target: "_blank" do
          = render IconComponent.new(name: :cpu)
      .flex.flex-row.justify-center.pb-2
        = link_to destroy_user_session_path, method: :delete, title: "Log out" do
          = render IconComponent.new(name: :lock_closed)
    - else
      .flex.flex-row.justify-center.pb-2
        = link_to new_user_session_path, title: "Log in", class: "#{admin_active if active_page?(new_user_session_path)}" do
          = render IconComponent.new(name: :lock_closed)                    
  #menu.w-96.bg-sky-600.text-sky-950
    .flex.flex-col.p-2.pt-5
      = link_to subscriptions_path, title: "Catalogue", class: "pb-2 #{menu_active if active_page?(subscriptions_path) || current_page?(root_path)}" do
        .flex
          = render IconComponent.new(name: :ticket)
          .ms-2 Catalogue
      - if user_signed_in?
        = link_to all_bookmarks_path, title: "Bookmarks", class: "pb-2 #{menu_active if active_page?(all_bookmarks_path)}" do
          .flex
            = render IconComponent.new(name: :star)
            .ms-2 Bookmarks
        -#%p.uppercase.font-thin.pb-2.pt-2 Most Read
        -#- Feed.most_read(limit: 3).each do |feed|
        -#  = link_to feed_entries_path(feed), title: feed.name, class: "pb-2 #{menu_active if active_page?(feed_entries_path(feed))}" do
        -#    .flex
        -#      = render IconComponent.new(name: :rss)
        -#      .ms-2
        -#        = feed.name
        %p.uppercase.font-thin.pb-2.pt-2 Most Popular TV
        - TvEntry.top_x(limit: 5).each do |item|
          - name, count = item
          - path = admin_most_popular_tv_path(name: CGI.escape(name))
          = link_to path, title: "Most Popular TV: #{name}", class: "pb-2 #{menu_active if active_page?(path)}" do
            .flex.justify-between
              %span
                = name
              %span.font-thin.text-sm
                = count
        %p.uppercase.font-thin.pb-2.pt-2 Most Popular Movies
        - MovieEntry.top_x(limit: 5).each do |item|
          - name, count = item
          - path = admin_most_popular_movies_path(name: CGI.escape(name))
          = link_to path, title: "Most Popular Movies: #{name}", class: "pb-2 #{menu_active if active_page?(path)}" do
            .flex.justify-between
              %span
                = name
              %span.font-thin.text-sm
                = count
        %p.uppercase.font-thin.pb-2.pt-2 Tags
        .text-center.overflow-auto
          - current_user.tag_cloud.each do |tag, count|
            = link_to tagged_feeds_path(tag), class: "tag-size-#{count}" do
              = tag
  #content.w-full.flex.flex-row
    .flex.flex-col.w-full(style="calc(100vh); overflow: auto;")
      = yield