#menuOffCancas.offcanvas.offcanvas-start(tabindex="-1" aria-labelledby="menuOffCancasLabel")
  .offcanvas-header
    -if user_signed_in?
      %h5.offcanvas-title.d-flex.flex-column#menuOffCancasLabel
        %div= current_user.name
        .fs-11.fw-lighter=current_user.email
      %div
        = link_to destroy_user_session_path, method: :delete, class: "btn" do
          %i.bi.bi-lock
        %button.btn(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
          %i.bi.bi-x-lg
    -else
      %h5.offcanvas-title#menuOffCancasLabel Today
      %button.btn(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
        %i.bi.bi-x-lg
  .offcanvas-body
    .row
      -if user_signed_in?
        .d-flex.justify-content-between.w-100.align-items-center
          %h4.fw-bold Subscriptions
          %div
            = link_to visit_admin_entries_path(root: true), method: :post, class: "btn" do
              %i.bi.bi-arrow-counterclockwise
            = link_to admin_feeds_path, class: "btn" do
              %i.bi.bi-gear
      -@tags.each do |tag|
        .row
          .d-flex.justify-content-between.w-100.align-items-center.p-2.m-1
            %div
              =link_to tag.upcase, tagged_today_feeds_path(tag), class: "text-decoration-none fw-bold"
            .fs-10.fw-lighter
              =@tag_count_by_tag[tag]
        - @feeds_by_tag[tag].each do |feed|
          .row
            .d-flex.justify-content-between.w-100.align-items-center.border-bottom.p-2.m-1
              %div
                = link_to feed.title, today_feed_entries_path(feed), class: "text-decoration-none"
              .fs-10.fw-lighter
                = @entries_by_tag_by_feed[tag][feed].count
      
