- classes = "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
- active = "bg-slate-100"

%div(data-controller="mobileMenu")  
  #menu.hidden(class="fixed top-0 left-0 z-40 h-screen p-4 bg-white overflow-y-auto w-2/3")
    %h5(class="text-base font-semibold text-gray-500") Menu
    %button(type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" data-action="click->mobileMenu#hideClicked")
      = render IconComponent.new(name: :close)
    %div(class="py-4 overflow-y-auto")
      %ul(class="space-y-2 font-medium")
        %li
          = link_to subscriptions_today_path, class: "#{classes} #{active if active_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
            .flex.flex-row
              = render IconComponent.new(name: :calendar)
              .ms-2 Today
        %li
          = link_to subscriptions_yesterday_path, class: "#{classes} #{active if active_page?(subscriptions_yesterday_path)}", title: "Yesterday" do
            .flex.flex-row
              = render IconComponent.new(name: :calendar_days)
              .ms-2 Yesterday
        - if user_signed_in?
          %li
            = link_to all_bookmarks_path, class: "#{classes} #{active if active_page?(all_bookmarks_path)}", title: "Bookmarks" do
              .flex.flex-row
                = render IconComponent.new(name: :star)
                .ms-2 
                  Bookmarks
          %li
            = link_to admin_subscriptions_path, class: "#{classes} #{active if active_page?(admin_subscriptions_path)}", title: "Subscriptions" do
              .flex.flex-row
                = render IconComponent.new(name: :rss)
                .ms-2
                  Subscriptions
          %li.border-t.pt-1
            = link_to destroy_user_session_path, method: :delete, title: "Log out", class: classes do
              .flex.flex-row
                = render IconComponent.new(name: :lock_closed)
                .ms-2
                  Sign Out
        - else
          %li.border-t.pt-1
            = link_to new_user_session_path, title: "Log in", class: "#{classes} #{active if active_page?(new_user_session_path)}" do
              .flex.flex-row
                = render IconComponent.new(name: :lock_open)
                .ms-2
                  Sign In
        
  .flex.flex-col
    %nav(class="bg-white border-gray-200")
      %div(class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 pt-2 pb-1")
        = link_to root_path, class: "flex items-center" do
          %span(class="self-center text-2xl font-semibold whitespace-nowrap") RSSr
        %div(class="overflow-hidden text-ellipsis whitespace-nowrap max-w-xxs")
          = yield :nav_title

        %button(type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" data-action="click->mobileMenu#showClicked")
          = render IconComponent.new(name: :bars3)
    #content
      = yield

