%nav.navbar.is-fixed-top.is-primary(role="navigation" aria-label="main navigation")
  .navbar-brand
    = link_to root_path, class: "navbar-item" do
      = fa_solid "rss", size: 1
    %a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
      %span(aria-hidden="true")
      %span(aria-hidden="true")
      %span(aria-hidden="true")
  .navbar-menu
    = link_to subscriptions_today_path, class: "navbar-item #{'is-active' if current_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
      = fa_solid "calendar-check", size: 1
      Today 
      %span.tag.is-complementary
        = @today_count
    - if user_signed_in?
      = link_to read_later_all_path, class: "navbar-item #{'is-active' if current_page?(read_later_all_path)}", title: "Read later" do
        = fa_solid "star", size: 1
        Read later
        %span.tag.is-complementary.read-later-count-tag(class="#{'d-none' if @read_later_count.zero?}")
          = @read_later_count
      = link_to admin_subscriptions_path, class: "navbar-item #{'is-active' if current_page?(admin_subscriptions_path)}", title: "Subscriptions" do
        = fa_solid "star", size: 1
        Subscriptions
        %span.tag.is-complementary.read-later-count-tag(class="#{'d-none' if @subscription_count.zero?}")
          = @subscription_count
      = link_to destroy_user_session_path, method: :delete, title: "Log out", class: "navbar-item" do
        = fa_solid "lock", size: 1, options: { class: "pl-4 pr-4" }
        Log Out
    - else
      = link_to new_user_session_path, title: "Log in", class: "navbar-item #{'is-active' if current_page?(new_user_session_path)}" do
        = fa_solid "lock-open", size: 1, options: { class: "pl-4 pr-4" }
        Log In
          


