%nav.navbar.navbar-expand-lg.bg-secondary.sticky-top
  .container-fluid
    .collapse.navbar-collapse#navbarSupportedContent
      = link_to "RSSr", root_path, class: "navbar-brand"
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0

      - if user_signed_in?
        .d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              = link_to destroy_user_session_path, method: :delete, title: "Log out", class: "ps-4 nav-link" do
                = fa_solid "lock", size: 1
      - else
        .d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              = link_to new_user_session_path, title: "Log in", class: "nav-link #{'active' if active_page?(new_user_session_path)}" do
                = fa_solid "lock-open", size: 1
%div
  .row
    .col-1.bg-light.sticky-top#left-menu
      %ul.list-unstyled
        %li.p-2.ms-2
          = link_to subscriptions_today_path, class: "nav-link text-center #{'active' if active_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
            = fa_solid "calendar-day", size: 1
        %li.p-2.ms-2
          = link_to subscriptions_yesterday_path, class: "nav-link text-center #{'active' if active_page?(subscriptions_yesterday_path)}", title: "Yesterday" do
            = fa_solid "calendar-week", size: 1
        %li.p-2.ms-2
          = link_to all_bookmarks_path, class: "nav-link text-center #{'active' if active_page?(all_bookmarks_path)}", title: "Bookmarks" do
            = fa_regular "bookmark", size: 1
        %li.p-2.ms-2
          = link_to watches_path, class: "nav-link text-center #{'active' if active_page?(watches_path)}", title: "Watches" do
            = fa_solid "eye", size: 1

    .col-11#entries
      = yield
