.d-flex.flex-column
  %nav.navbar.position-fixed.w-100
    .container-fluid
      = link_to root_path do
        = fa_solid "rss", size: 1
      = yield :title
      %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        = fa_solid "bars", size: 1
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to subscriptions_today_path, class: "nav-link #{'active' if active_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
              = fa_solid "calendar-check", size: :half
              Today
              %span.badge.rounded-pill
                .fs-15
                  = @today_count
          - if user_signed_in?
            %li.nav-item
              = link_to all_bookmarks_path, class: "nav-link #{'active' if active_page?(all_bookmarks_path)}", title: "Read later" do
                = fa_solid "star", size: :half
                Read Later
                %span.badge.rounded-pill.read-later-count-tag(class="#{'d-none' if @read_later_count.zero?}")
                  .fs-15
                    = @read_later_count
            %li.nav-item
              = link_to admin_subscriptions_path, class: "nav-link #{'active' if active_page?(admin_subscriptions_path)}", title: "Subscriptions" do
                = fa_solid "rss", size: :half
                Subscriptions
                - if @subscription_count > 0
                  %span.badge.rounded-pill
                    .fs-15
                      = @subscription_count
            %li.nav-item
              = link_to admin_filters_path, class: "nav-link #{'active' if active_page?(admin_filters_path)}", title: "Filters" do
                = fa_solid "list", size: :half
                Filters
                %span.badge.rounded-pill
                  .fs-15
                    = @filters_count

          - if user_signed_in?
            %li.nav-item
              = link_to destroy_user_session_path, method: :delete, title: "Log out", class: "nav-link" do
                = fa_solid "lock", size: :half
                Sign Out
          - else
            %li.nav-item
              = link_to new_user_session_path, title: "Log in", class: "nav-link #{'active' if active_page?(new_user_session_path)}" do
                = fa_solid "lock-open", size: :half
                Sign In
  .content
    .pe-2.ps-2.position-absolute.w-100(style="top: 68px;")
      = yield