%nav.navbar.navbar-expand-lg.bg-white(style="position: fixed; z-index: 2; width: 100%;")
  .container-fluid
    = link_to "RSSr", root_path, class: "navbar-brand"
    = yield :title 
    %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      = fa_solid "bars", size: 1
      
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to subscriptions_today_path, class: "nav-link #{'active' if active_page?(subscriptions_today_path) || current_page?(root_path)}", title: "Today" do
            = fa_solid "calendar-day", size: 1
            Today
        %li.nav-item
          = link_to subscriptions_yesterday_path, class: "nav-link #{'active' if active_page?(subscriptions_yesterday_path)}", title: "Yesterday" do
            = fa_solid "calendar-week", size: 1
            Yesterday
      - if user_signed_in?
        .d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              = link_to feeds_path, class: "nav-link #{'active' if active_page?(feeds_path)}", title: "Feeds" do
                = fa_solid "rss", size: 1
                Feeds
            %li.nav-item
              = link_to tags_path, class: "nav-link #{'active' if active_page?(tags_path)}", title: "Tags" do
                = fa_solid "tag", size: 1
                Tags
            %li.nav-item
              = link_to all_bookmarks_path, class: "nav-link #{'active' if active_page?(all_bookmarks_path)}", title: "Bookmarks" do
                = fa_regular "bookmark", size: 1
                Bookmarks
            -# %li.nav-item
            -#   = link_to watches_path, class: "nav-link #{'active' if active_page?(watches_path)}", title: "Watches" do
            -#     = fa_solid "eye", size: 1
            -#     Watches

            %li.nav-item
              = link_to admin_subscriptions_path, class: "nav-link #{'active' if active_page?(admin_subscriptions_path)}", title: "Subscriptions" do
                = fa_solid "rss", size: 1
                Subscription
            %li.nav-item
              = link_to admin_filters_path, class: "nav-link #{'active' if active_page?(admin_filters_path)}", title: "Filters" do
                = fa_solid "list", size: 1
                Filters
            -# %li.nav-item
            -#   = link_to admin_watches_path, class: "nav-link #{'active' if active_page?(admin_watches_path)}", title: "Watches" do
            -#     = fa_solid "eye", size: 1
            -#     Watches
            -#   %ul#watches-menu(style="list-style-type: none")
            -#     - @watches_by_group.each.with_index do |group_id, index|
            -#       %li
            -#         = link_to watches_group_path(group_id: group_id), class: "#{'active' if active_page?(watches_group_path(group_id: group_id))}", title: "Watch ##{group_id}" do
            -#           = fa_regular "eye", size: 1
            -#           Watch ##{ index + 1 }
            -# %li.nav-item
            -#   = link_to new_admin_subscription_path, class: "nav-link #{'active' if active_page?(new_admin_subscription_path)}", title: "Add RSS Feed" do
            -#     = fa_solid "plus", size: 1
            -#     Add new feed
            -# %li.nav-item
            -#   = link_to "/sidekiq", title: "Sidekiq", target: "_blank", class: "nav-link" do
            -#     = fa_solid "sync", size: :half
            -#     Sidekiq
            %li.nav-item
              = link_to destroy_user_session_path, method: :delete, title: "Log out", class: "nav-link" do
                = fa_solid "lock", size: :half
                Log out
      - else
        .d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              = link_to new_user_session_path, title: "Log in", class: "nav-link #{'active' if active_page?(new_user_session_path)}" do
                = fa_solid "lock-open", size: :half
                Log in
%div(style="position: relative; top: 56px;")
  = yield
