!!!
%html
  %head
    %title
      RSSr - 
      = yield :title 
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = favicon_link_tag asset_path("favicon.png")
    %link(rel="apple-touch-icon" href="#{asset_path("apple-touch.png")}")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

  %body(id="#{'admin' if user_signed_in?}" class="c_#{controller_name} a_#{action_name} #{'darkmode' if darkmode?}")
    - if mobile?
      = render "/layouts/navbar_mobile"
    - else
      = render "/layouts/navbar_desktop"
    
    = render "/layouts/flash_messages"