!!!
%html
  %head
    %title
      RSSReader
      = yield :meta_title 
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="turbo-prefetch" content="false")
    = favicon_link_tag asset_path("favicon.png")
    %link(rel="apple-touch-icon" href="#{asset_path("apple-touch.png")}")
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_include_tag "application", type: "module"
    = stylesheet_link_tag "application"
  %body(class="c_#{controller_name} a_#{action_name} #{'signed-in' if current_user} #{'mobile' if mobile?}" data-controller="alerts")
    = turbo_frame_tag :meta_title
    - if mobile?
      .flex.flex-col.mobile(data-controller="menu")
        .flex.flex-row.justify-between.items-center.p-2.bg-gray-700.text-white
          = link_to root_path do
            RSS Reader
            = yield :meta_title 
          = link_to "#", data: { action: "click->menu#show" } do
            &#926;
        #menu.w-full.p-2.flex.flex-col.absolute.bg-white.hidden(style="height: calc(100vh - 40px); top: 40px;")
          .flex.flex-row.items-center.justify-between.pb-4
            .text-xl
              Menu
            = link_to "#", data: { action: "click->menu#hide" } do
              &#8855;
          = link_to root_path do
            .flex.flex-row.justify-between.items-center
              .text-xl.uppercase
                Unread
              .text-thin.text-xs
                = unread_count
          - if user_signed_in?
            = link_to bookmarks_path do
              .flex.flex-row.justify-between.items-center
                .text-xl.uppercase
                  Bookmarks
                .text-thin.text-xs
                  = bookmarks_count
          .pt-4.uppercase.font-bolder.text-gray-800.text-xl
            Feeds
          .flex.flex-col.overflow-auto(style="height: calc(100vh - 140px - 180px - 50px)")
            - active_feeds.each do |feed, count|
              = link_to feed_path(feed), data: { "turbo-frame": "entries" }  do
                .flex.flex-row.justify-between.items-center
                  %div
                    = feed.title
                  .text-thin.text-xs
                    = count
          .pt-6.uppercase.font-bolder.text-gray-800.text-xl.pb-2
            MANAGE
          - if user_signed_in?
            = link_to subscriptions_path do
              Subscriptions
            = link_to filters_path do
              Filters
            = link_to "/sidekiq", target: "_blank" do
              Sidekiq
          %div
            - if user_signed_in?
              = link_to new_user_session_path, target: "_blank" do
                Sign Out
            - else
              = link_to new_user_session_path, target: "_blank" do
                Sign in
        = yield

    - else
      .flex.flex-row
        .w-64.bg-gray-700.text-white(style="height: calc(100vh)")
          .flex.flex-col.h-full.justify-between
            #top.p-2
              .flex.flex-row.justify-center.text-3xl.font-bold
                = link_to root_path do
                  RSS Reader
              .pt-4
                = link_to root_path do
                  .flex.flex-row.justify-between.items-center
                    .text-xl.uppercase
                      Unread
                    .text-thin.text-xs
                      = unread_count
                - if user_signed_in?
                  = link_to bookmarks_path do
                    .flex.flex-row.justify-between.items-center
                      .text-xl.uppercase
                        Bookmarks
                      .text-thin.text-xs
                        = bookmarks_count
              .pt-4.uppercase.font-bolder.text-gray-800.text-xl
                Feeds
              .flex.flex-col.overflow-auto(style="height: calc(100vh - 140px - 180px - 24px)")
                - active_feeds.each do |feed, count|
                  = link_to feed_path(feed), data: { "turbo-frame": "entries" }  do
                    .flex.flex-row.justify-between.items-center
                      %div
                        = feed.title
                      .text-thin.text-xs
                        = count
            #bottom.p-2.flex.flex-col
              .pt-6.uppercase.font-bolder.text-gray-800.text-xl.pb-2
                MANAGE
              - if user_signed_in?
                = link_to subscriptions_path do
                  Subscriptions
                = link_to filters_path do
                  Filters
                = link_to "/sidekiq", target: "_blank" do
                  Sidekiq
              %div
                - if user_signed_in?
                  = link_to new_user_session_path, target: "_blank" do
                    Sign Out
                - else
                  = link_to new_user_session_path, target: "_blank" do
                    Sign in
        = yield
  = render "/layouts/flash"
