!!!
%html
  %head
    %title
      RSSr - 
      = yield :title 
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = favicon_link_tag asset_path("favicon.png")
    %link(rel="apple-touch-icon" href="#{asset_path("apple-touch.png")}")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")

  %body(id="#{'admin' if user_signed_in?}")
    %nav.navbar.sticky-top.border-bottom.navbar-light.bg-white
      .container-fluid.ps-0
        %div
          - if @mobile
            = link_to "#menuOffCancas", class: "btn pt-0", "data-bs-toggle" => "offcanvas" do
              %i.bi.bi-list
          - else
            %i.bi.bi-rss.p-3
          = link_to root_path, class: "navbar-brand" do
            RSSr
        - if @mobile
          %div
            - unless user_signed_in?
              = link_to new_user_session_path, title: "Log in" do
                %i.bi.bi-unlock
              

    = render partial: "/layouts/flash_messages"
    = render partial: "/layouts/async_flash_messages"

    - if @mobile
      = render partial: "/layouts/menu/mobile"
      = yield
    - else
      #desktop.d-flex
        #menu
          = render partial: "/layouts/menu/desktop"
        #view
          = yield